body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
}

#cloudOne {
  position: fixed;
  top: 0;
  right: 0;
  height: 80px;
  width: 500px;

  animation: driveLeft 60s linear infinite, bounce 2s linear infinite;
}

#cloudTwo {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 500px;

  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";

  animation: driveRight 45s linear infinite, bounce 3s linear infinite;
}

#sunset {
  background-image: url("8-bit-sunset-41006-1920x1080.jpg");
  min-width: 101vw;
  height: 40vh;
}

.road {
  max-width: 100vw;
  min-width: 100vw;
  background-color: rgba(64, 64, 64, 0.947);
  overflow-wrap: anywhere;
  border: double rgb(218, 218, 4);
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-left-width: 0px;
  border-right-width: 0px;
}

#lines {
  display: flex;
  align-items: center;
  justify-content: center;

  justify-content: space-between;
}

#lines span {
  height: 10px;
  width: 50px;
  border-radius: 2px;
  margin: 0px;
  font-size: 5rem;
  font-weight: bolder;
  background-color: rgb(218, 218, 4);
  text-align: center;
}

#purpleCar {
  display: flex;
  padding-bottom: 20px;
  scale: 0.8;
  justify-content: end;
  margin-right: -8vw;

  animation: driveLeft 10s linear infinite;
}

#redCar {
  display: flex;
  overflow-wrap: anywhere;
  scale: 0.85;

  padding-bottom: 40px;

  justify-content: end;

  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";

  animation: driveRight 5s cubic-bezier(0.6, 0.8, 0.85, 0.6) infinite;
}

#landscape {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-image: url("240_F_404014988_7N8rNOa9ezLOZx6O6JEscLyNCpLLZhGW.jpg");
  flex: 3;
  width: 101vw;
}

.palmtree {
  height: 300px;
  animation: bounce 1s linear infinite;
}

.flower {
  height: 100px;
}

@keyframes driveRight {
  0% {
    margin-left: -20vw;
  }

  100% {
    margin-left: 100vw;
  }
}

@keyframes driveLeft {
  0% {
    margin-right: -20vw;
  }

  100% {
    margin-right: 100vw;
  }
}

@keyframes bounce {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 4px;
  }
}

#overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(
    rgba(238, 86, 21, 0.447),
    rgba(238, 86, 21, 0.201)
  );
}
